/* General rules */
* {
  font-family: "Poppins", sans-serif;}
html, *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.btn-transparent {border: none; background-color: transparent;}
hr.leading-line  {
  position: relative;
  top: 12px;
  width: 30px; 
  display: inline-block;
  border-top: solid 1px black;
  margin-right: 10px;
 }
 .border-black {border-color: black !important;}
 .border-inherit {border-color: inherit !important;}
 .rounded-lg {border-radius: 0.5rem;}
 .mb-2-5 {margin-bottom: 0.5rem;}
 



/* Background Colors */
.bg-brand {background-color: #20345c;}
.bg-none, .bg-none .card-text {background-color: transparent !important;}
.bg-gray {background-color: rgba(248, 245, 242, 0.97);}
.bg-orange-gradient {background: linear-gradient(178.13deg, #E93314 1.58%, #FFFFFF 437.16%);
}
.bg-pic {
  background-image: url("../img/bg-pic1.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}

/* Font styling */

nav li a {font-size: 14px; font-weight: 500;}
h2 {font-size: 1.8rem;}
.btn {color: inherit;}
a:hover {text-decoration: none;}
.heading {font-size: 38px;}
.text-bold {font-weight: 600;}
.text-xxs {font-size: 12px;}
.text-xs {font-size: 13px;}
.text-sm {font-size: 14px;}
.text-md {font-size: 18px;}
.text-lg {font-size: 22px;}
.lead {font-weight: 400;}
.text-brand{color: #20345c;;}

/* Nav Bar */
.navbar {z-index: 100;}
.navbar-brand{ 
  padding: 0.1rem 0.5rem;
  border: solid 1px white;
  border-radius: 6px;
  background-color: white;
}
.navbar .navbar-nav .nav-item .nav-link {color: white; font-weight: 500;}
.search-form {position: relative;
              
}
.search-form input {
  width: 12rem !important;
  border-radius: 30px;
}

.search-button{
  position: absolute;
  right: 0px;
  bottom: -2px;
  color: white;
  font-size: 15px;
  font-weight: 100;
}

/* Home Banner Section */

.home-banner {
  padding: 40px 4rem 100px 4rem;
}
.banner-carousel-indicators {
  position: absolute;
  z-index: 10;
  bottom: -110px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: -23px;
}
.banner-carousel-navigation a {color: rgba(111, 156, 200, 1);}
.banner-carousel-navigation .active {color: white !important;}

.home-banner .carousel-caption {
  bottom: -8px;
  left: 0;
  right: 0;
}
.banner-carousel-arrows > button {
  background-color: transparent;
  padding: 0 2px;
  color: white;
}

.home-banner-button:hover {background-color: rgba(255, 255, 255, 0.514) !important;}

/* Home Page Services Carousel */
#homeServicesCarousel, #homeServicesCarousel1 {padding: 0.5rem 2rem;}
.carousel-control-prev {left: -2rem;}
.carousel-control-next {right: -2rem;}
.home-services-carousel-indicators {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
}
.home-services-carousel-indicators button {
  background-color: transparent;
  border: solid 1px rgba(172, 170, 169, 0.97);
  border-radius: 50px;
  padding: 7px;
  cursor: pointer;
}
.home-services-carousel-indicators button.active {
  background-color: rgba(196, 196, 196, 1);
}

/* What we can do list (Our Services) */
.home-our-services-item svg {
  position: relative;
  top: 4px;
}
.home-our-services-item {
  color: rgba(0,0,0,0.65);
  box-shadow: 0 3px rgba(172, 170, 169, 0.15);
}
.home-our-services-item a {color: inherit !important;}

/* Mobile Themed Section */
.mobile-section {padding-top: 5rem;}
.mobile-img-container {
  background-color: white;
  border-top-left-radius: 100px;
  border-bottom: none;
}
.fancy-text-box {
  position: absolute;
  right: 0;
  top: -40px;
}
.fancy-text {
  font-size: 6rem; 
  font-weight: 100; 
  line-height: 1;
  display: block;
}
.fancy-text:nth-of-type(1) {margin-left: -45px;}
  

/* Testimonials */
.testimonials img {
  height: 50px;
  width: 50px;
}
.testimonials .testimonials-box blockquote {
  background-color: white;
}
.testimonials .testimonials-box:nth-of-type(2) blockquote {
  background-color: #e93314 !important;
  color: white;
}
.testimonials .testimonials-box:nth-of-type(2) .pointer {
  height: 20px;
  width: 20px;
  background-color: #e93314;
  border-right: solid 3px #e93314;
  border-bottom: solid 3px #e93314;
  margin: 0 auto;
  transform: rotate(45deg);
  margin-top: -27px;
  position: relative;
  z-index: 10;
}

blockquote {
  border: solid 2px #f2f0ee;
  background-color: transparent;
  padding: 1.5rem;
}
.pointer {
  height: 20px;
  width: 20px;
  background-color: white;
  border-right: solid 3px #f2f0ee;
  border-bottom: solid 3px #f2f0ee;
  margin: 0 auto;
  transform: rotate(45deg);
  margin-top: -27px;
  position: relative;
  z-index: 10;
}

.brand-group {
  display: grid;
  grid-gap: 4%;
  grid-template-columns: 48% 48%;
}
.brand-box {
  border: solid 1px rgba(196, 196, 196, 1);
  padding: 2rem;
  color: rgba(42, 42, 42, 0.41);
  font-weight: 600;
}
.brand-box svg {
  font-size: 40px;
  position: relative;
  top: 5px;
}

/* Articles */
.articles .card {
  background-color: transparent;
  border: none;
}
.articles .card a {color: black;}
.articles .card-body {padding-left: 0;}
.article-heading {
  color: rgba(95, 15, 15, 0.38);
  width: 40%;
}
.article-heading span:first-child {color: red;}
.article-heading :nth-child(2) {
  position: relative; bottom: 2.5px; font-weight: 700;}

/* Contact (Home Page) */
.home-contact-group {padding: 4rem;}
.home-contact-group:nth-of-type(2) {color: rgba(0, 0, 0, 0.64);
;}
.home-contact-group:nth-of-type(2) a {border-color: rgba(0, 0, 0, 0.4);}

/*Contact Page styling */
.contact-intro {padding: 3rem 3rem 10rem 3rem;}
.contact-main {padding: 3rem;}
 .contact-main .row > div:first-of-type {padding: 0;}
.form {
  position: relative;
  top: -10rem;
}
.form input,
.form textarea {
  border: solid 1px rgba(56, 56, 56, 0.274);
}
.form input[type="submit"] {
  background-color: transparent;
  color: inherit;
  border: none;
  font-weight: 600;
  font-size: 18px;
}

#contact-option-1 {margin-top: -6rem;}

/* Services Page styling */
.services-container {padding: 4rem 4rem;}
.services-carousel{position: relative;}
.services-carousel-content{width: 80vw; flex-wrap: nowrap; overflow-x: hidden; display: flex; margin: auto;}
.services-carousel-item{margin: inherit; flex-basis: 80%; flex-grow: 0; flex-shrink: 0; margin: 0 10%; background-color: rgba(111, 156, 200, 0.5); position: relative;}
.services-carousel-prev, .services-carousel-next {position: absolute; width: 10vw; top: 0; bottom: 0;}
.services-carousel-prev{left: 0;}
.services-carousel-next{right: 0;}
.services-leave-active, .services-enter-active, .services-enter, .services-leave, .services-enter-to, .services-leave-to{transition: justify-content 3000ms ease-in-out 50ms;}



.removeToRight, .removeToLeft{display: none;}
.services-carousel-link:hover{cursor: pointer;}
.our-services-carousel-container {padding: 1rem;}
.our-services-carousel-container .carousel-inner {padding: 2rem 4rem;}
.services-grid-item {
  display: grid !important;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
}
.carousel-control-prev {left: 0;}
.carousel-control-next {right: 0;}

.our-services-carousel-container .carousel-control-next,
.our-services-carousel-container .carousel-control-prev {
  opacity: 1;
}

.our-services-carousel-container .carousel-control-next-icon,
.our-services-carousel-container .carousel-control-prev-icon {
  height: 30px;
  width: 30px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 2px solid white;
  background-image: none;
}

.our-services-carousel-container .carousel-control-next-icon:after {
  color: white;
  content: ">";
  font-size: 20px;
  top: -3px;
}
.our-services-carousel-container .carousel-control-prev-icon:after{
  color: white;
  content: "<";
  font-size: 20px;
  top: -3px;
}
.our-services-carousel-container .carousel-indicators li {
  border: solid 1px #adaba9;
  width: 13px;
  padding: 5px;
}
.our-services-carousel-container .carousel-indicators {bottom: -5px;}

/* About */
.about-hero{height: 75vh; padding-bottom: 10rem;}
.about-hero-text{padding: 3rem 2rem 2rem 2rem;}
.about-hero-images{text-align: center; width: 100vw; margin-top: -30px;}
.about-hero-images figure {border-radius: 10px; height: 40vw; width: 40vw; box-sizing: border-box; display: inline-block; margin: 0 15px 0 15px; background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative;}
.about-hero-img-container:nth-of-type(1){background-image: url("../img/ideate-img.png"); margin-bottom: 20px;}
.about-hero-img-container:nth-of-type(2){background-image: url("../img/present-img.png"); margin-bottom: 20px;}
.about-hero-img-container:nth-of-type(3){background-image: url("../img/test-img.png");}
.about-hero-img-container:nth-of-type(4){background-image: url("../img/analyse-img.png");}
.about-hero-images figcaption {position: absolute; bottom: 20px; left: 20%; width: 60%; border-radius: 5px; background: rgba(255, 255, 255, 0.65); text-align: center;}
.values{padding-top: 21rem; background: rgba(248, 245, 242, 1);}
.values-hr{background-color: #E8E8E8; border-width: 1px;}
.values p {width: 90%;}

/* Blog */
.blog-hero{height: 90vh;}
.blog-posts-group{padding-top: 15rem;}
.blog-posts-group .card {border: none;}
.blog-posts-group .card-body{padding-left: 0;}


/* Footer*/

footer {
  color: white !important;
}

footer a {
  color: inherit;
  display: inline-block;
  margin-bottom: 2rem;
}
footer a:hover {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
footer h3 {
  margin-bottom: 2rem;
}
.email-link {
  text-decoration: underline;
}
.footer-links a {
  margin-bottom: 10px;
}
.socials li {
  padding-right: 20px;
}
.socials a:hover {
  color: blue;
}
.display-6 {
  font-size: 1.25rem;
  font-weight: 500;}
  .blank-list {
  list-style: none;
  padding: 0;
}
.blank-list li {
  display: inline-block;
}

.blank-list li:hover {
  cursor: pointer;
}
.flush-list {
  padding: 0;
  list-style: none;
}
.lg-padding {
  padding: 8% 18%;
}
.footer-brand{ 
  padding: 0.1rem 0.5rem;
  border: solid 1px white;
  border-radius: 6px;
  background-color: white;
  max-height: 30px;
  width: 115px;
}
footer > .row:first-of-type {border-bottom: 1px solid rgba(255, 255, 255, 0.15);}
